.brand-logo {
	display: flex;
	align-items: center;
	text-transform: capitalize;
	font-size: 1.5rem;
	color: $text-secondary-color;
	position: relative;
	margin: 0 4rem;
}
.home {
	height: 60%;
	padding-top: 6rem;
	overflow: hidden;
	align-items: center;
	text-align: center;
	background: linear-gradient(to right, rgba($primary-color, 0.9), rgba($primary-color, 0.1)),
		url(/assets/image1.jpg) center top;
	background-size: cover;

	&-carousel,
	h1,
	h2 {
		font-size: 2rem;
		color: $text-secondary-color;
		text-align: right;
	}
}

.home-tools {
	display: grid;
	grid-template-columns: 80px 1fr 80px;

	& > * {
		grid-column: 2;
		min-width: 0;
	}

	.container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		grid-gap: 2rem;
		text-align: center;
		padding-top: 1rem;

		img {
			width: 6vw;
		}

		h2 {
			color: $accent-color;
			text-transform: uppercase;
		}
		p {
			text-align: justify;
			line-height: 1.6;
			color: $secondary-color;
		}
	}
}

.home-photo {
	display: grid;
	grid-template-columns: 80px 1fr 80px;
	grid-gap: 1rem;

	& > * {
		grid-column: 2;
		min-width: 0;
	}
	.title {
		text-align: center;
		color: $accent-color;
		text-transform: uppercase;
	}
	.home-photos {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
		grid-gap: 0.1rem;
		text-align: center;
	}
}
.newsletter {
	background: $primary-color;
	text-align: center;

	&-title {
		text-transform: uppercase;
		color: $accent-color;
	}
	&-text {
		font-size: 1.2rem;
		text-align: center;
		padding: 0.1rem 2rem;
	}
	&-content {
		display: inline;

		color: $text-secondary-color;
		input {
			width: 30vw;
			padding: 0.5rem;
			border: 1px solid $accent-color;
			border-radius: 5px;
			background: none;

			&:placeholder-shown {
				text-align: center;
			}
		}
		#btn {
			width: 12vw;
			height: 5vh;
			padding: 0.3rem;
			align-self: center;
			border: 1px solid $accent-color;
			border-radius: 5px;
			background: $dark-color;
			text-transform: capitalize;
			cursor: pointer;
			color: $text-secondary-color;
			outline-style: none;

			&:hover {
				background: $accent-color;
			}
		}
	}
}
